*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.get{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.pp{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.start{
    background-color: red;
    border-radius: 35px;
    color: white;
    /* width: 12vw; */
    font-size: 30px;
    position: absolute;
    left: 40%; 

       
}
.start:hover{
    background-color: red;
    opacity: 50%;
}
.broadcast{
    font-size: 50px;
    position: absolute;
    left: 10%;
    top: 50%;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.plug{
    position: absolute;
    left: 10%;
    top: 75%;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    
}

.img{
    width: 450px;
    position: absolute;
    left: 45%;
    margin-top: 50px;
}
.img2{
    width: 500px;
    position: absolute;
    left: 10%;
    top: 90%;
    
}
.limit{
    position: absolute;
    top: 95%;
    right: 27%;
    font-size: 50px;
   font-family: Arial, Helvetica, sans-serif;

}
.reach{
    position: absolute;
    top: 113%;
    right: 25%;
    font-family: Arial, Helvetica, sans-serif;
}
.own{
    position: absolute;
    top: 150%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.this
{
    position: absolute;
    top: 178%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.log1{
    width: 450px;
    position: absolute;
    top: 145%;
    left: 40%;
}
.log2{
    width: 450px;
    position: absolute;
    top: 200%;
    left: 10%;
}
.show{
    position: absolute;
    top: 210%;
    left: 45%;
    font-family: Arial, Helvetica, sans-serif;
    
}
.rec{
    position: absolute;
    top: 227%;
    left: 45%;
    font-family: Arial, Helvetica, sans-serif;
}
.cus{
   position: absolute;
   top: 255%;
   left: 10%;
   font-family: Arial, Helvetica, sans-serif;

}
.make{
    position: absolute;
    top: 266%;
    left: 10%;
    font-family: Arial, Helvetica, sans-serif;
}
.pic3{
   position: absolute;
   top: 240%;
   left: 40%;
   width: 450px;
   margin-top: 50px;
}

.more{
    position: absolute;
    top: 300%;
    left: 35%;
    font-size: 50px;

}

.pic1{
    position: absolute;
    top: 315%;
    left: 35%;
}

.one{
    position: absolute;
    top: 330%;
    left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.your{
    position: absolute;
    top: 335%;
    left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.pic2{
    position: absolute;
    top: 315%;
    left: 60%;
}
.two{
    position: absolute;
    top: 330%;
    left: 55%;
    font-family: Arial, Helvetica, sans-serif;
}

.keep{
    position: absolute;
    top: 335%;
    left: 55%;
    font-family: Arial, Helvetica, sans-serif;
}

.img4{
    position: absolute;
    top: 355%;
    left: 35%;
}
.three{
    position: absolute;
    top: 370%;
    left: 27%;
    font-family: Arial, Helvetica, sans-serif;
}
.decide{
    position: absolute;
    top: 375%;
    left: 30%;
    font-family: Arial, Helvetica, sans-serif;
}
.img5{
    position: absolute;
    top: 390%;
    left: 35%;
}
.pri{
    position: absolute;
    top: 405%;
    left: 30%;
}
.con{
    position: absolute;
    top: 410%;
    left: 30%;
}
.img6{
    position: absolute;
    top: 390%;
    left: 60%;
}
.go{
    position: absolute;
    top: 405%;
    left: 58%;
}
.with{
    position: absolute;
    top: 410%;
    left: 55%;
}
.last{
    position: absolute;
    top: 355%;
    left: 60%;
}
.deal{
    position: absolute;
    top: 370%;
    left: 55%;
}

.mes{
    position: absolute;
    top: 373%;
    left: 55%;
    margin-top: 10px;
}
.become{
    position: absolute;
    top: 440%;
    left: 35%;
   
}
.but{
    background-color: red;
    border-radius: 35px;
    color: white;
    top: 450%;
    left: 40%;  
    font-size: 30px;
    position: absolute;
    
}
.end{
    position: absolute;
    top: 460%;
    left: 45%;
    width: 150px;
}

   
